# coding: utf-8
from .prod import *


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
    }
}

SECRET_KEY = 'some secret key'
